.header {
	z-index: map-get($layer,header);
	width: 100%;

	&__upper {
		padding: 5px 0;
		background-color: $gold;
		color: $annin-white;
		text-align: center;
		@include mq(tab-only) {
			font-size: 1.4rem;
		}
		@include mq(sp) {
			font-size: 1.2rem;
		}
	}

	&__title {
		// ロゴなら
		width: 100px;
		height: 100px;
		margin: 0 auto;
		cursor: pointer;
		transition: opacity $transition-change-time ease 0s;
		transition: all $transition-change-time ease 0s;
		@include mq(tab-only) {
			width: 80px;
			height: 80px;
		}
		@include mq(sp) {
			width: 70px;
			height: 70px;
		}
		a {
			img {
				width: 100%;
				height: 100%;
			}
		}
		&:hover {
			opacity: $hover-opacity;
		}
	}
	&__nav {
		height: 80px;
		padding: 10px 0;
		background-color: $gold;
		color: $white;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		$border: 1px solid $white;
		border-top: $border;
		border-bottom: $border;
	}
	&__item {
		display: block;
		position: relative;
		width: 20%;
		height: 100%;
		padding: 10px 0;
		text-align: center;
		cursor: pointer;
		transition: all $transition-change-time ease 0s;

		@include mq(tab-only) {
			font-size: 1.4rem;
		}
		@include mq(sp) {
			font-size: 1.2rem;
			width: 24%;
		}

		&:not(:first-child) {
			margin-left: 20px;
			@include mq(sp) {
				margin-left: 5px;
			}
		}
		&--main {
			span {
				display: block;
				margin-top: 10px;
				font-size: 1.0rem;
				text-align: center;
			}
		}
		&--detail {
			opacity: 0;
			position: absolute;
			top: 50px;
			z-index: map-get($layer,header-sub);
			width: 100%;
			padding: 1em 0;
			background-color: $gold;
			font-size: .8em;
			text-align: center;
			transition: all $transition-change-time ease 0s;
			a {
				display: block;
				cursor: pointer;
				&:hover {
					transform: scale(1.1);
					font-weight: $font-weight-bold;
				}
				&:not(:first-child) {
					margin-top: 5px;
				}
			}
		}
		&:hover {
			div {
				opacity: 1;
			}
		}
	}
}
