.front-page{
    %base{
        margin-top: 60px;
        @include mq(tab-only) {
            margin-top: 40px;
        }
        @include mq(sp) {
            margin-top: 20px;
        }
    }
    &__top{
    }
    &__searchform{
        @extend %base;
    }
    &__recommend{
        @extend %base;
    }
}