.searchform {
	border: 2px solid $beige;
	text-align: center;
	background-image: url(../img/search.webp);
	background-position: center;
	background-size: cover;
	height: 500px;
	box-shadow: 0px 0px 10px 0px $beige;
	position: relative;

	form {
		position: absolute;
		display: inline-block;
		margin: 0 auto;
		text-align-last: left;
		top: 26%;
		left: 2%;
	}

	&__item {
		&:not(:first-child) {
			margin-top: 30px;
		}
		label {
			display: inline-block;
			width: 200px;
			font-size: 1.4rem;
		}
		&--select {
			display: inline-block;
			width: 200px;
			select{
				width: 100%;
				appearance: none;
				border: none;
				border-bottom: 1px solid $gray;
				background: $annin-white;
				text-align: center;
				&:focus,&:hover{
					outline: none;
				}
				option{

				}
			}
			&:not(:nth-of-type(1)){
				margin-left: 20px;
			}
			position: relative;
			&::after{
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				right: 3px;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 5px 0 5px;
				border-color: $gray transparent transparent transparent;
			}
		}

		input {
			width: 500px;
			height: 40px;
			padding: 10px 50px 10px 20px;
			border: 2px solid $gold;
			border-radius: 15px;
			font-weight: $font-weight-bold;
			letter-spacing: .1em;
			outline: none;
		}
	}



	// 検索ボタン
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px auto 0;
		padding: 0 20px;
		border: 1px solid $gold;
		background-color: $beige;
		color: $white;
		font-weight: $font-weight-bold;
		cursor: pointer;
		transition: all $transition-change-time ease 0s;

		&:hover {
			opacity: $hover-opacity;
		}

		img {
			width: 30px;
			height: 30px;
		}
	}
}
