.single-shop {

	// タブメニュー
	&__shop-tab-menu {
		$border: 2px solid $beige;

		&--list {
			display: flex;
			justify-content: center;

			border-bottom: $border;
		}
		&--item {
			width: 150px;
			padding: 10px;
			background-color: $annin-white;
			font-weight: $font-weight-bold;
			text-align: center;
			cursor: pointer;
			transition: all $transition-change-time ease 0s;
            // ボーダー ----------------------------------------
            &:first-child{
                border-left: $border;
            }
            border-right: $border;
            border-top: $border;
            &.tab-active{
                color: $annin-white;
                background-color: $beige;
            }
            // ボーダー ----------------------------------------
			&:hover {
				opacity: $hover-opacity;
			}
		}
	}
	// アイテム
	&__shop-top,
	&__shop-menu,
	&__shop-access {
		display: none;
		&.tab-active {
			display: block;
		}
	}
}
