.single-shop{
    
    // タブメニュー
    &__shop-tab-menu{
        $border: 2px solid $beige;
        
        &--list{
            display: flex;
            justify-content: center;
            border-bottom: $border;
        }
        &--item{
            background-color: $annin-white;
            
            // ボーダー ----------------------------------------
            &:first-child{
                border-left: $border;
            }
            border-right: $border;
            border-top: $border;
            &.tab-active{
                color: $annin-white;
                background-color: $beige;
            }
            // ボーダー ----------------------------------------


            padding: 10px;
            font-weight: $font-weight-bold;
            width: 150px;
            cursor: pointer;
            transition: all $transition-change-time ease 0s;
            text-align: center;
            &:hover {
                opacity: $hover-opacity;
            }
        }
    }
    // アイテム
    &__shop-top,&__shop-menu,&__shop-access{
        display: none;
        &.tab-active{
            display: block;
        }
    }
}