.top{ 
    
    &__container{
        border: 2px solid $beige;
        border-radius: 30px;
        background-image: url(../img/top.webp);
        background-size: cover;
        height: 600px;
        background-position: center;
        position: relative;
    }
    &__search{
        position: absolute;
        bottom: 15%;
        right: 5%;
    }
}