// -----------------------------------------------------------------------------
// 共通系（便利系）
// -----------------------------------------------------------------------------

// ------------------------------------------------------------
// インナー
// width：固定値
// max-width：100% → 縮めたときには100%表示
// ------------------------------------------------------------
.inner {
	// width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100% ;
	width: $layout-width-inner-pc;
	max-width: 100%;
	height: inherit;// 高さは親を継承
	margin: 0 auto;

	@include mq(tab-only) {
		width: $layout-width-inner-tab;
	}
	@include mq(sp) {
		width: $layout-width-inner-sp;
	}
}

// ------------------------------------------------------------
// ページタイトル
// ------------------------------------------------------------
.page-title{
	
}

// ------------------------------------------------------------
// セクションタイトル
// ------------------------------------------------------------
$border: 2px dotted $gray;
.section-title {
	padding: 20px 0;
	border-top: $border;
	border-bottom: $border;
	font-size: 2rem;
	text-align: center;
	font-style: italic;
	span{
		display: block;
		font-size: 0.8em;
		color: $gold;
	}
	p{
		margin-top: 5px;
		display: inline-block;
		position: relative;
		&::before,&::after{
			position: absolute;
			display: block;
			top: 50%;
			border-right: 3px solid $gold;
			height: 150%;
			width: 3px;
			content: '';
			transform: translateY(-50%) rotate(15deg);
		}
		&::before{
			left: -20px;
		}
		&::after{
			right: -20px;
		}
	}
}

// ------------------------------------------------------------
// スペーサー
// ------------------------------------------------------------


// ------------------------------------------------------------
// 表示制御（表示）
// ------------------------------------------------------------
// PCだけ表示
.display-only-pc {
	@include mq(tab) {
		display: none;
	}
}

// タブレットだけ表示
.display-only-tab {
	@include mq(pc) {
		display: none;
	}
	@include mq(sp) {
		display: none;
	}
}

// スマホだけ表示
.display-only-sp {
	@include mq(pc) {
		display: none;
	}
	@include mq(tab-only) {
		display: none;
	}
}

// ------------------------------------------------------------
// 表示制御（非表示）
// ------------------------------------------------------------

// PCだけ非表示
.hidden-pc {
	@include mq(pc) {
		display: none;
	}
}

// タブレットだけ非表示
.hidden-tab {
	@include mq(tab-only) {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq(sp) {
		display: none;
	}
}

// ------------------------------------------------------------
// paddingクラス
// ------------------------------------------------------------
.p {
	&t{
		&-40{
			padding-top: 40px;
		}
		&-60{
			padding-top: 60px;
		}
	}
	&b{
		&-40{
			padding-bottom: 40px;
		}
		&-60{
			padding-bottom: 60px;
		}
		&-120{
			padding-bottom: 120px;
		}
	}
}

// ------------------------------------------------------------
// util
// ------------------------------------------------------------
$util-link-width-pc: 100px;
$util-link-height-pc: 50px;
$util-link-width-sp: $util-link-width-pc;
$util-link-height-sp: $util-link-height-pc;
$util-link-border-size: 3px;
.util {
	// 共通リンクボタン
	&-link {
		cursor: pointer;
		width: $util-link-width-pc;
		height: $util-link-height-pc;
		margin: 0 auto;
		font-weight: $font-weight-bold;
		// font-size: *rem;
		line-height: getLineHeightForBox($util-link-height-pc, $util-link-border-size);
		text-align: center;

		@include mq(sp) {
			width: $util-link-width-sp;
			height: $util-link-height-sp;
			// font-size: *rem;
			line-height: getLineHeightForBox($util-link-height-sp, $util-link-border-size);
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			border-width: $util-link-border-size;
			border-style: solid;
			border-color: $black;
			transition: all $transition-change-time ease 0s;
			&:hover {
				border-color: $white;
				background: $black;
				color: $white;
			}
		}
	}
}

// ------------------------------------------------------------
// wrapper
// ------------------------------------------------------------
.wrapper {
	//
}

// ------------------------------------------------------------
// container
// ------------------------------------------------------------
.container {
	padding: 100px 0;
	@include mq(tab) {
		padding: 60px 0;
	}
	@include mq(sp) {
		padding: 40px 0;
	}
}

// ------------------------------------------------------------
// main
// ------------------------------------------------------------
.main {
	
}
