.shop-top {
	@extend %section-padding;

	dl{
		div{
			display: inline-flex;
			align-items: flex-end;
			@include mq(tab-only) {
				display: flex;
				font-size: 1.4rem;
			}
			@include mq(sp) {
				display: flex;
				font-size: 1.2rem;
			}
			&:not(:first-child){
				margin-left: 30px;
				@include mq(tab-only) {
					margin-left: 0;
					margin-top: 10px;
				}
				@include mq(sp) {
					margin-left: 0;
					margin-top: 5px;
				}
			}
			dt{
				font-size: 0.8em;
			}
			dd{
				color: $gold;
				font-weight: $font-weight-bold;
				font-size: 1.2em;
				@include mq(sp) {
					
				}
			}
		}
	}

	&__top-msg {
		margin-top: 50px;
		strong {
			display: block;
			padding-bottom: 5px;
			color: $beige;
			font-size: 2rem;

			border-bottom: 1px dotted black;
		}
		p {
			line-height: 1.5;
			@include mq(tab-only) {
				font-size: 1.4rem;
			}
			@include mq(sp) {
				font-size: 1.2rem;
			}
		}
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		@include mq(sp) {
			display: block;
		}
	}
	&__thumbnail {
		display: block;
		width: 40%;
		border-radius: 9px;
		box-shadow: 0 0 5px $beige;

		border-bottom: solid 5px $beige;
		img {
			width: 100%;
		}
		@include mq(tab-only) {
			width: 30%;
		}
		@include mq(sp) {
			width: 50%;
			margin: 0 auto;
		}
	}
	&__sub {
		margin-left: 50px;
		@include mq(sp) {
			margin-left: 0;
			margin-top: 30px;
		}
		&--item {
			display: flex;
			align-items: center;
			padding: 10px 20px;
			border-top: 1px dotted $gold;
			@include mq(tab-only) {
				font-size: 1.4rem;
				padding: 5px 20px;
			}
			@include mq(sp) {
				font-size: 1.2rem;
				padding: 5px 20px;
			}
			img {
				width: 80px;
				height: 80px;
				@include mq(tab-only) {
					width: 50px;
					height: 50px;
				}

				@include mq(sp) {
					width: 50px;
					height: 50px;
				}
			}
			p {
				&:nth-of-type(1) {
					width: 180px;
					margin-left: 20px;
					font-style: italic;
					text-align: center;
				}
				&:nth-of-type(2) {
					width: 100px;
					text-align: right;
				}
			}
			strong {
				margin-right: 5px;
				color: red;
				font-weight: normal;
				font-size: 1.5em;
				border-bottom: 1px solid red;
				
			}
		}
	}
}
