.shop-top {
	@extend %section-padding;

	&__top-msg {
		strong {
			display: block;
			padding-bottom: 5px;
			color: $beige;
			font-size: 2rem;

			border-bottom: 1px dotted black;
		}
		p {
			line-height: 1.5;
		}
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	&__main {
		display: block;
		width: 40%;
		border-radius: 9px;
		box-shadow: 0 0 5px $beige;

		border-bottom: solid 5px $beige;
		img {
			width: 100%;
		}
	}
	&__sub {
		margin-left: 50px;
		&--item {
			display: flex;
			align-items: center;
			padding: 10px 20px;
			border-top: 1px dotted $gold;

			img {
				width: 80px;
				height: 80px;
			}
			p {
				&:nth-of-type(1) {
					width: 180px;
					margin-left: 20px;
					font-style: italic;
					text-align: center;
				}
				&:nth-of-type(2) {
					width: 100px;
					text-align: right;
				}
			}
			strong {
				margin-right: 5px;
				color: red;
				font-weight: normal;
				font-size: 1.5em;
				border-bottom: 1px solid red;
			}
		}
	}
}
